.nav-item {
  display: inline-block;
  background-color: transparent;
  height: 50px;
}

.nav-item * {
  background-color: transparent;
  height: 50px;
  padding-top: 0;
  margin-top: 0;
  padding: 0 10px 0;
  margin: 0;
  outline: 0;
  border: 0;
  color: black;
  font-size: 1rem;
}

select:hover,
button:hover {
  background-color: rgb(19, 241, 204);
}

select:disabled,
button:disabled {
  background-color: darkcyan;
  color: rgb(27, 80, 80);
}

.nav-bar {
  background-color: darkcyan;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  vertical-align: middle;
}

option {
  height: 30px;
}

input[type="range"] {
  vertical-align: middle;
  height: 20px;
  width: 100px;
}

.range {
  margin: 0 20px;
}
